Package: libpipeline1
Source: libpipeline
Version: 1.5.0-2
Architecture: amd64
Maintainer: Colin Watson <cjwatson@debian.org>
Installed-Size: 96
Depends: libc6 (>= 2.15)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://libpipeline.nongnu.org/
Description: pipeline manipulation library
 This is a C library for setting up and running pipelines of processes,
 without needing to involve shell command-line parsing which is often
 error-prone and insecure.
